# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# =====================================
# Virtual Environment
# =====================================
venv/
.venv/
env/

# =====================================
# IDE
# =====================================
.vscode/

# =====================================
# Dataset
# =====================================
data/
dataset/
datasets/
Person Detection with head.v2i.yolov8/

# Compressed files
*.zip
*.rar
*.7z

# =====================================
# Trained Models
# =====================================
*.pt
*.pth
*.ckpt
*.onnx
*.weights

# =====================================
# Training Outputs
# =====================================
runs/
outputs/
logs/

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Operating System
# =====================================
.DS_Store
Thumbs.db